/* asterisk on line 3 allows these things to apply to all html elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Mega", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  color: rgb(32, 31, 31);
}
.logo {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: rgb(206, 13, 103);
  text-align: center;
  padding-bottom: 30px;
  background: radial-gradient(#fff, #fde4ef);
  margin: 16px;
}

/* Style the header */
.header {
  padding: 10px 10px;
  background: rgb(4, 5, 4);
  color: #f1f1f1;
  height: 70px;
  text-align: center;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}
nav {
  flex: 1;
  text-align: center;
}
/* no bullets, use list style type none */
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  /* font-size: 20px; */
}
a {
  text-decoration: none;
  color: rgb(245, 236, 236);
}
p {
  color: rgb(235, 217, 217);
}
/* Page content */
.content {
  padding: 16px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 40px;
  line-height: 30px;
  margin: 25px 25px;
}
.col-2 h2 {
  font-size: 20px;
  line-height: 40px;
  margin: 25px 25px;
  font-family: "Playfair Display", serif;
}

.btn {
  display: inline-block;
  background: rgb(235, 48, 135);
  color: #fff;
  padding: 8px 30px;
  margin: 50px 30px;
  border-radius: 30px;
}
.splash {
  background: radial-gradient(#fff, #fccadf);
  height: 100vh;
}
.splash .row {
  /* margin-top: 20px; */
  display: flex;
}
.splash .image_wrapper {
  width: 385px;
  /* border: 1px solid red; */
  margin-left: 55px;
  /* margin-bottom: 20px; */
}
.splash .image_wrapper img {
  width: 100%;
  /* border: 2px solid blue; */
}

/* Add white space between top of this section and the splash above it */
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  /* min-width: 250px; */
  /* margin-bottom: 30px; */
}
.col-3 img {
  float: left;
  width: 350px;
  height: 450px;
  object-fit: cover;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* transition transform allows the picture the move; applying this in conjunction with the hover on line
163. */
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  /* min-width: 200px; */
  width: 100px;
  height: auto;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  float: none;
  object-fit: scale-down;
  max-width: 100%;
}
.col-4 p {
  font-size: 14px;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: rgb(235, 48, 135);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.h4 {
  color: #555;
  font-weight: normal;
}

.rating .fa {
  color: rgb(235, 48, 135);
}

/* lets the image of the product float 5px when you hover over it with the mouse */
.col-4:hover {
  transform: translateY(-5px);
}
.offer {
  background: radial-gradient(#fff, #fccadf);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
.small {
  color: #555;
}

.testimonial .col-3 img {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
