/* asterisk on line 3 allows these things to apply to all html elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.logo {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: rgb(206, 13, 103);
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
/* no bullets, use list style type none */
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 40px;
  line-height: 60px;
  margin: 25px 25px;
}
.btn {
  display: inline-block;
  background: rgb(235, 48, 135);
  color: #fff;
  padding: 8px 30px;
  margin: 30px 30px;
  border-radius: 30px;
}
.header {
  background: radial-gradient(#fff, #fccadf);
  height: 100vh;
}
.header .row {
  /* margin-top: 20px; */
  display: flex;
}
.header .image_wrapper {
  width: 385px;
  /* border: 1px solid red; */
  margin-left: 55px;
  /* margin-bottom: 20px; */
}
.header .image_wrapper img {
  width: 100%;
  /* border: 2px solid blue; */
}
