/* asterisk on line 3 allows these things to apply to all html elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Chivo", sans-serif;
  /* font-family: "Lexend Mega", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  color: rgb(32, 31, 31);
}
.logo {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: rgb(206, 13, 103);
  text-align: center;
  /* padding-bottom: 10px; */
  background: radial-gradient(#fff, #fdddeb);
  margin: 10px;
  z-index: 1;
}
.logo img {
  padding-top: 5px;
  opacity: 0.3;
  z-index: 2;
}
.top-container .nav-right {
  position: absolute;
  right: 40px;
}

/*-------------------- HEADER AND NAV BAR ---------------------------- */

.header {
  padding: 10px 10px;
  background: rgb(4, 5, 4);
  /* color: #f1f1f1; */
  height: 62px;
  text-align: center;
  font-size: 18px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}
nav {
  flex: 1;
  text-align: center;
}

/* no bullets, use list style type none */
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  /* font-size: 20px; */
}
a {
  text-decoration: none;
  color: rgb(245, 236, 236);
}
p {
  color: rgb(235, 217, 217);
}

/* Page content */
.content {
  padding: 10px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 32px;
  line-height: 50px;
  margin: 25px 20px;
}
.col-2 h2 {
  font-size: 23px;
  line-height: 40px;
  margin: 25px 25px;
  font-family: "Playfair Display", serif;
}
.btn {
  display: inline-block;
  background: rgb(235, 48, 135);
  color: #fff;
  padding: 8px 30px;
  margin: 40px 50px;
  border-radius: 30px;
}
.splash {
  background: radial-gradient(#fff, #fccadf);
  height: 100vh;
}
.splash .row {
  /* margin-top: 20px; */
  display: flex;
}
.splash .image_wrapper {
  width: 385px;
  /* border: 1px solid red; */
  margin-left: 55px;
  /* margin-bottom: 20px; */
}
.splash .image_wrapper img {
  width: 100%;
  /* border: 2px solid blue; */
}

/* Add white space between top of this section and the splash above it */
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  /* min-width: 250px; */
  /* margin-bottom: 30px; */
}
.col-3 img {
  float: left;
  width: 350px;
  height: 450px;
  object-fit: cover;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/* transition transform allows the picture the move; applying this in conjunction with the hover on line
163. */
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  /* min-width: 200px; */
  width: 100px;
  height: auto;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  float: none;
  object-fit: scale-down;
  max-width: 100%;
}
.col-4 p {
  font-size: 14px;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: rgb(235, 48, 135);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.h4 {
  color: rgb(82, 76, 76);
  font-weight: normal;
}

.rating .fa {
  /* color: rgb(167, 134, 149); */
  color: rgb(206, 13, 103);
}

/* lets the image of the product float 5px when you hover over it with the mouse */
.col-4:hover {
  transform: translateY(-5px);
}

/* --------------------- OFFER ---------------------------------- */

.offer {
  background: radial-gradient(#fff, #fccadf);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 30px;
  object-fit: scale-down;
}
.col-2 {
  text-align: center;
}
.small {
  color: #555;
  font-size: 20px;
}
.offer p {
  color: #555;
  font-size: 20px;
}
.offer p2 {
  line-height: 30px;
  font-weight: 200;
  font-size: 20px;
  color: #555;
}
.offer p3 {
  line-height: 40px;
  font-weight: 100;
  font-size: 28px;
  color: #555;
}
.offer h2 {
  font-size: 31px;
  color: #555;
}
/* ------------------------ TESTIMONIALS ------------------------ */

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
  height: 200px;
  padding: 40px 20px;
  transition: transform 0.5s;
}
.testimonial p {
  color: rgb(39, 37, 37);
  font-size: 12px 0;
  /* color: #777; */
}
.testimonial {
  padding-bottom: 50px;
}

/* Need to make this transition smoother */
.testimonial .col-3:hover {
  transform: translateY(-10px);
  /* transform: translateZ(-10px); */
  /* rotateZ(360deg); */
}
.fa.fa-quote-left {
  font-size: 34px;
  color: rgb(206, 13, 103);
}
/* ------------------------- AS SEEN IN ---------------------- */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  /* border: solid red; */
  max-width: 1000px;
  align-items: center;
  margin-left: 310px;
}
.grid > div {
  /* background: black; */
  padding: 2rem;
}
.grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.grid > div {
  /* ... */
  display: grid;
}
.grid > div::before,
.grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
}
.grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --------------------------- FOOTER ------------------------------ */
/* Footer removed from css file. See Extra Code file. */
